<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
  
    <connectionStrings>
        <add name="TrimAplikacija_V2._0.Properties.Settings.trimCon" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\TrimDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>      
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
